{% extends 'layout/base.html' %}
{% block title %}Thông tin cá nhân{% endblock %}

{% block content %}
<div class="container emp-profile">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <!-- Cột hình ảnh đại diện -->
            <div class="col-md-4">
                <div class="profile-img">
                    <img id="avatarPreview" src="{{ current_user.avatar }}" alt="Avatar"/>
                </div>
            </div>

            <!-- Cột thông tin người dùng -->
            <div class="col-md-6">
                <div class="profile-head">
                    <h5>
                        {% if current_user.teacher %}
                            {{ current_user.teacher.fullname }}
                        {% elif current_user.staff %}
                            {{ current_user.staff.fullname }}
                        {% elif current_user.parent %}
                            {{ current_user.parent.fullname }}
                        {% elif current_user.admin %}
                            {{ current_user.admin.fullname }}
                        {% else %}
                            {{ current_user.username }}
                        {% endif %}
                    </h5>

                    <h6>
                        {{ current_user.role.value }}
                    </h6>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                               aria-controls="home" aria-selected="true">Thông tin cá nhân</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Nội dung thông tin cá nhân -->
        <div class="row mt-4">
            <div class="col-md-8 offset-md-4">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row">
                            <div class="col-md-6"><label>ID Người dùng</label></div>
                            <div class="col-md-6"><p>{{ current_user.id }}</p></div>
                        </div>

                        <div class="row">
                            <div class="col-md-6"><label>Tên đăng nhập</label></div>
                            <div class="col-md-6"><p>{{ current_user.username }}</p></div>
                        </div>

                        {% set person = current_user.teacher or current_user.staff or current_user.parent or current_user.admin %}

                        {% if person %}
                        <div class="row">
                            <div class="col-md-6"><label>Họ và Tên</label></div>
                            <div class="col-md-6"><p>{{ person.fullname }}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><label>Email</label></div>
                            <div class="col-md-6"><p>{{ person.email }}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><label>Giới tính</label></div>
                            <div class="col-md-6"><p>{{ person.gender }}</p></div>
                        </div>
                        {% if current_user.parent %}
                        <div class="row">
                            <div class="col-md-6"><label>Địa chỉ</label></div>
                            <div class="col-md-6"><p>{{ current_user.parent.address }}</p></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><label>Số điện thoại</label></div>
                            <div class="col-md-6"><p>{{ current_user.parent.phone }}</p></div>
                        </div>
                        {% endif %}
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
